@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* .swiper-slide {
    height: 85%;
} */

section{
    scroll-snap-align: center;
}

.BtnCurriculum:hover{
    filter: drop-shadow(6px 6px #fff);
}


.sec2, .sec4 {
    background: rgba(23, 23, 23, 0.418);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 1.5px );
}


.scroll-projetos-web::-webkit-scrollbar, .scroll-projetos-mobile::-webkit-scrollbar{ 
    display: none;
}

.label{
    text-shadow: 1px 1px  5px black;
}
@media screen and (min-width: 768px){
    .sec3::before, .sec3::after{
    background: linear-gradient(to right, rgb(25,26,18)40%, rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 50%;
    z-index: 1;
}

.sec3::before{
    z-index: 20;
    left: 0;
    bottom: 0;
}

.sec3::after{
    visibility: hidden;
    display: none;
    z-index: -20;
    right: 0;
    bottom: 0;
    transform: rotateZ(180deg);
}
}

.cabecalho{
    background-image: url('/src/img/back.jpg');
    background-position: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    border-radius: 10px 10px 0 0;
}
